.container {
  padding: 2em;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container h2 {
  /* text-align: center; */
  font-size: var(--font-level-three);
}

.textContainer {
  max-width: calc(var(--max-width) / 1.25);
}

.blockOne {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1.45rem;
}

.headshot {
  border-radius: 6px;
  height: 225px;
}

@media only screen and (min-width: 768px) {
  .blockOne {
    flex-direction: row;
  }

  .blockOne p {
    margin: 0;
  }

  .headshot {
    margin-left: var(--font-level-one);
  }
}
